@import "tailwindcss";

@theme {
  --color-purple-50: #dde3ff;
  --color-purple-100: #36388b;
  --color-purple-150: #4444d7;
  --color-purple-200: #c1c2ff;
  --color-gray-100: #f7f9fb;
  --color-gray-200: #d7d7d7;
}